<h1>These are all the pokemon to loop through</h1>

{{#each pokemons}}
<h3>Name: {{pokemonName}}</h3>
<ul>
    <li>ID: {{id}}</li>
    <li>Type: {{type}}</li>

</ul>
<img src={{image}} alt={{pokemonName}} style="width: 10%">
{{/each}}