

<h1>Generate Pokemon</h1>

{{!-- create row to get this side by side --}}
{{!-- Hardcode --}}
<div class="grid-container">

  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <img src="assets/img/generic/rectangle-1.jpg">
        <div class="card-section">
          <h4>Username</h4>
          <input type="text" {{dataValues.UserName}}>

        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/generic/rectangle-1.jpg">
        <div class="card-section">
          <h4>Username</h4>
          <input type="text" {{dataValues.UserName}}>

        </div>

      </div>

    </div>
</div>


    <br>
<div class="grid-container">

      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <h4>Username</h4>
              <input type="text" {{dataValues.UserName}}>

            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <h4>Username</h4>
              <input type="text" {{dataValues.UserName}}>

            </div>
       </div>

    </div>
</div>

        <br>


        {{!-- <div class="card" style="width: 300px;">
      {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div>

<div class="card" style="width: 300px;">
     {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
   
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div> --}}


        {{!-- <a href="/users">Back to main</a> --}}

        <a href="/">Home</a>


        {{!-- <div class="card" style="width: 300px;">
  <div class="card-divider">
    This is a header
  </div>
  <img src="assets/img/generic/rectangle-1.jpg">
  <div class="card-section">
    <h4>This is a card.</h4>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
</div> --}}