{{!-- Container to generate pokemon --}}
<br>
<div class="grid-container">
 <div class="row">
  <div class="columns medium-5">
    {{!-- Card 1 User Input --}}
    <div class="card"> 
        <div class="card-section" id="card-user-One">
          
        </div>
    </div>      
  </div>
  <div class="columns medium-2">
    <img id="vs"src="/assets/img/Vs-image.png"></img>
  </div>
  <div class="columns medium-5">
    {{!-- Card 2 User Input --}}
    <div class="card">       
        <div class="card-section" id="card-user-Two">
         
        </div>
     </div>  
  </div>
</div>
{{!-- br will be deleted --}}
<br>


        <br>

 <a href="/results"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" class="pokeBall"></img></a> 
        {{!-- <div class="card" style="width: 300px;">
      {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div>

<div class="card" style="width: 300px;">
     {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
   
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div> --}}


  
      
