{{!-- Container to generate pokemon --}}
<br>
<div class="grid-container">
 <div class="row">
  <div class="columns medium-6">
    {{!-- Card 1 User Input --}}
    <div class="card"> 
        <div class="card-section">
          <h4>Username</h4>
          <input type="text">
          <a href="/pokemon"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="generate-second-page"></img></a>
        </div>
    </div>      
  </div>
  <div class="columns medium-6">
    {{!-- Card 2 User Input --}}
    <div class="card">       
        <div class="card-section">
          <h4>Username</h4>
          <input type="text">
          <a href="/pokemon"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="generate-second-page"></img></a>
        </div>
     </div>  
  </div>
</div>
{{!-- br will be deleted --}}
<br>
{{!-- Container for generated pokemon- WILL PROBALY BE DELETED SINCE WE ONLY HAVE TO EMPTY CARD --}}
<div class="grid-container">

   <div class="row">
  <div class="columns medium-6">
    {{!-- Card 1 User Input --}}
    <div class="card"> 
        <div class="card-section">
          <h4>You got: {{dataValues.pokemonName}}! </h4>
          <img src={{dataValues.image}} alt="pokemon">
        </div>
    </div>      
  </div>
  <div class="columns medium-6">
    {{!-- Card 2 User Input --}}
    <div class="card">       
        <div class="card-section">
          <h4>You got: {{dataValues.pokemonName}}! </h4>
          <img src={{dataValues.image}} alt="pokemon">
        </div>
     </div>  
  </div>
</div>
{{!-- Onclick runs query to begin battle. Will only appear once both users have generated their respective pokemons --}}
<a href=""><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="generate-second-page"></img></a>

</div>


<br>


 
        
        
        
        
        {{!-- <div class="card" style="width: 300px;">
      {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div>

<div class="card" style="width: 300px;">
     {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
   
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div> --}}


  
      