{{!-- Container to generate pokemon --}}
<br>
<div class="grid-container">
 <div class="row">
  <div class="columns medium-6">
    {{!-- Card 1 User Input --}}
    <div class="card"> 
        <div class="card-section">
          <h4>Username</h4>
          <input type="text">
        </div>
    </div>      
  </div>
  <div class="columns medium-6">
    {{!-- Card 2 User Input --}}
    <div class="card">       
        <div class="card-section">
          <h4>Username</h4>
          <input type="text">
        </div>
     </div>  
  </div>
</div>
{{!-- br will be deleted --}}
<br>
{{!-- Container for generated pokemon --}}
<div class="grid-container">

   <div class="row">
  <div class="columns medium-6">
    {{!-- Card 1 User Input --}}
    <div class="card"> 
        <div class="card-section">
          <h4>You got: {{dataValues.pokemonName}}! </h4>
          <img src={{dataValues.image}} alt="pokemon">
        </div>
    </div>      
  </div>
  <div class="columns medium-6">
    {{!-- Card 2 User Input --}}
    <div class="card">       
        <div class="card-section">
          <h4>You got: {{dataValues.pokemonName}}! </h4>
          <img src={{dataValues.image}} alt="pokemon">
        </div>
     </div>  
  </div>
</div>


<br>

 <a href="/pokemon"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="generate-second-page"></img></a>
        {{!-- <div class="card" style="width: 300px;">
      {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div>

<div class="card" style="width: 300px;">
     {{#each pokemons}}
  <div class="card-divider">
      {{dataValues.pokemonName}}
  </div>
    
   
  <img src={{dataValues.image}} alt={{dataValues.pokemonName}} style="width: 10%" >
  <div class="card-section">
    <h4>{{dataValues.pokemonName}}</h4>
    <ul>
    <li>ID: {{dataValues.id}}</li>
    <li>Type: {{dataValues.type}}</li>
    </ul>
    {{/each}}
  </div>
</div> --}}


        {{!-- <a href="/users">Back to main</a> --}}

        


        {{!-- <div class="card" style="width: 300px;">
  <div class="card-divider">
    This is a header
  </div>
  <img src="assets/img/generic/rectangle-1.jpg">
  <div class="card-section">
    <h4>This is a card.</h4>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
</div> --}}